.main{
 
  width: 110%;
  height: 109vh;
  background: linear-gradient( to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(/tree-736885.jpg);
  background-position: center;
  background-size: cover;
}
.navbr{
  width: 1200px;
  height: 75px;
  margin: auto;
  
}
.icon{
  width: 200px;
  float: left;
  height: 70px;
  
}
.logo {
  color: rgba(200,100,10,10.5);
  font-size: 35px;
  font-family: Arial;
  padding-left: 40px;
  float: left;
  padding-top: 10px;
  
  
}
.menu {
  width: 400px;
  float: left;
  height: 70px;
  
  
  
}
ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
ul li {
  list-style: none;
  margin-left: 50px;
margin-top: 27px;
font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: #fff;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  
  
}

ul li a:hover {
  color: #ff7200;
  
}
.search {
  width: 330px;
  float: left;
  margin-left: 110px;
  
}
.srch {
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  float: left;
  font-size: 16px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.dut {
  width: 100px;
  height: 40px;
  background: #ff7200;
 border: 2px solid #ff7200;
 
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
}
.dui:focus {
  outline: none;
}
.srch:focus {
  outline: none;
}
.content {
  width: 500px;
  height: 100px;
  margin: auto;
  color: #fff;
  float: left;
  position: relative;
  
}
.content .t {
  padding-left: 24px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
  
}
.content h1 {
  font-family: 'Times New Roman';
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}
.content .join {
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  
  cursor: pointer;
  
}
.content .join a {
  text-decoration: none;
  color: #000;
  transition: 3s ease;
}
.join:hover {
  background-color: #fff;
  
}
.content span {
  color: #ff7200;
  font-size: 60px;
}
.form {
  width: 250px;
  height: 480px;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  position: absolute;
  top: 30px;
  left: 700px;
  border-radius: 10px;
  padding: 25px;
}
.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  
  padding: 8px;
}
.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}
.form input:focus {
  outline: none;
}
::placeholder {
  color: #fff;
  font-family: Arial;
}
.btn {
 width: 240px;
 height: 40px;
 background: #ff7200;
 border: none;
 margin-top: 30px;
 font-size: 18px;
 border-radius: 10px;
 cursor: pointer;
 color: #fff;
 transition: 0.4s ease;
 
  
}
.btn:hover {
  background: #fff;
  color: #ff7200;
  
}
.btn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  
}
.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-style: 17px;
  padding-top: 20px;
  text-align: center;
  
}
.form .link a {
  text-decoration: none;
  color: #ff7200;
}
.with {
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}
.new{
  width: 700px;
  height: 700px;
  position: absolute;
  margin: 300px 160px;
}
.new1{
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  position: relative;
  background: red;
  animation-name: new;
  animation-duration: 7s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
@keyframes new{
  0%{
    background: #1F8A70;
    top: 0;
    left: 0;
  }
  25%{
    background: aqua;
    top: 0;
    left: 500px;
  }
  50%{
    background: #210062;
    top: 500px;
    left: 500px;
    
  }
  75%{
    background: #B3005E;
    top: 500px;
    left: 0px;
    
    }
    100%{
      background: #1F8A70;
      top: 0px;
      left: 0px;
    }
}